[tool.poetry]
name = "statista"
version = "0.1.7"
description = "statistics package"
authors = ["Mostafa Farrag <moah.farag@gmail.com>"]
readme = "README.md"
license = "GNU General Public License v3"
repository = "https://github.com/MAfarrag/statista"
documentation = "https://statista.readthedocs.io/"
keywords = ["statistics", "distributions"]
classifiers=[
        "Development Status :: 5 - Production/Stable",
        "Environment :: Console",
        "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
        "Natural Language :: English",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Intended Audience :: Science/Research",
        "Intended Audience :: Developers",
    ]



[tool.poetry.dependencies]
python = ">=3.9,<3.15"
numpy = "1.23.5"
matplotlib = "^3.5.3"
pandas = "^1.4.4"
scipy = "^1.9.0"
scikit-learn = "^1.1.1"
loguru = "^0.6.0"



[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pre-commit = "^2.20.0"
black = "^22.12.0"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^22.12.6"
flake8-docstrings = "^1.7.0"
flake8-rst-docstrings = "^0.3.0"
pep8-naming = "^0.13.3"
darglint = "^1.8.1"
reorder-python-imports = "^3.9.0"
pre-commit-hooks = "^4.4.0"


[tool.poetry.scripts]

[tool.coverage.paths]
source = ["statista", "*/site-packages"]


[tool.coverage.run]
branch = true
source = ["statista"]


[tool.coverage.report]
show_missing = true
fail_under = 40


[tool.isort]
multi_line_output=3
include_trailing_comma=true
force_grid_wrap=0
use_parentheses=true
line_length=88
ensure_newline_before_comments=true
profile="black"


[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -q"
testpaths = [
    "tests",
]


[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
