# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: pypi-release

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
              python-version: "3.x"

        - name: Install uv
          uses: astral-sh/setup-uv@v4
          with:
            enable-cache: true
            cache-dependency-glob: uv.lock

        - name: Install Dependencies
          run: uv sync --frozen --group dev

        - name: Install tools
          run: |
              uv pip install twine

        - name: Build and publish
          run: |
              uv build
              twine upload dist/*
          env:
              TWINE_USERNAME: ${{ secrets.PYPI_USERS }}
              TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
